.list-group {
    width: 80%;
    margin: 2% auto;
}

.list-group-item {
    display: grid;
    grid-template-columns: 0.1fr 0.2fr 0.5fr 0.5fr;
}

h6, img, .UpdatesContainer {
    align-self: center;
}

h6 {
    margin-bottom: 0%;
}

img {
    height: 150px;
    width: 150px;
    margin: 3% 20%;
}

.MuiCircularProgress-circle {
    color: #2196f3;
}

.UpdatesContainer {
    display: flex;
    flex-direction: column;
}

.additions {
    color: green;
}

.deletions {
    color: red
}

.updates {
    color: black;
}

@media only screen and (max-width: 600px) {
    .list-group {
        margin: 3% auto;
    }
    .list-group-item {
        grid-template-columns: none;
        grid-template-rows: 0.1fr 0.2fr 0.5fr 0.5fr;
    }
}